<!DOCTYPE html>
<html>
  <head>
    <title>DreamCanvas</title>
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:title" content="DreamCanvas">
    <meta property="og:description" content="Ever dreamed about making art together with an artificial intelligence? No? Well now you can anyway! DreamCanvas is a collaborative drawing experiment by Johan Nordberg where visitors have their drawings interpreted by an artificial neural network.">
    <meta property="og:url" content="https://dream.almost.digital">
    <meta property="og:image" content="https://dream.almost.digital/dreamcanvas.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#151515">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    {{ livereloadScript }}<link rel="stylesheet" href="page.css">
  </head>
  <body>
    {{ page.html }}
  </body>
</html>
