
* {
    margin: 0; padding: 0; border: 0; line-height: 1;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    background: black;
    background: #ffffff;
}

a, .status, .pan-handle, .info    {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    right: 0;
    padding: 0.6em 0.8em;
    z-index: 1;
    text-decoration: none;
}

a, .pan-handle {
    color: #ffffff;
    font-weight: 400;
    z-index: 2;
}

.status {
    right: auto;
    left: 0;
    padding-left: 2em;
    padding-right: 2em;
    color: rgba(255, 255, 255, 0.75);
}

.status span {
    margin-right: .5em;
    color: #ffffff;
    font-weight: 400;
}

.pan-handle {
    top: auto;
    bottom: 0;
    font-size: 1.8em;
    cursor: move;
}

body, html, canvas {
    width: 100%;
    height: 100%;
}

canvas, a, .pan-handle, .picker, .status {
    position: absolute;
}

.picker {
    bottom: 0;
}

.picker span {
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
}

.picker span.active {
    outline: 0.2em solid white;
    border-left: 0.2em solid black;
    z-index: 2;
}

.picker span.magic {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

.info {
    position: absolute;
    display: none;
    text-align: center;
}

.info.pan {
    top: auto;
    bottom: 0;
    left: 50%;
    width: 10em;
    margin-left: -5em;
}

.info.loading {
    right: 50%;
    top: 50%;
    width: 10em;
    margin-right: -5em;
    margin-top: -1em;
    font-size: 1.5em;
}

html.loading .info.loading {
    display: block;
}

html.has-canvas .info.loading {
    background-color: rgba(255, 255, 255, 0.75);
    color: transparent;
    overflow: hidden;
    margin-top: 0;
    margin-right: 0;
    width: .6em;
    height: .6em;
    padding: 0;
    border-radius: 100%;
    top: .45em;
    left: .4em;
    z-index: 2

}

html.pan .info.pan {
    display: block;
}

html.pan canvas, html.pan-move canvas {
    cursor: move;
    opacity: 0.75;
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.618);
    opacity: 0;
    transition: 200ms ease-in all;
    z-index: 10;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog.visible {
    opacity: 1;
    visibility: visible;
}

.dialog .content {
    background-color: #e8eaed;
    padding: 1em;
    border-radius: 0.2em;
    max-width: 23em;
    border: .1em solid #fafdff;
    transition: 300ms ease-in all;
    transform: scale(2);
}

.dialog.visible .content {
    transform: scale(1);
}


.dialog .title {
    font-size: 1.618em;
    margin-top: 0.21em;
}

.dialog .body {
    margin-bottom: 1em;
}

.dialog .body p {
    margin-top: 1em;
    line-height: 1.25;
}

.dialog .body em {
    color: red;
}

.dialog .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dialog .buttons button {
    cursor: pointer;
    font-size: 1em;
    background-color: #c90064;
    padding: 0.5em;
    border-radius: 0.1em;
    color: #e8eaed;
    border: .1em solid #aa0055;
    transition: 100ms ease-in all;
    transform: scale(1)
}

.dialog .buttons button:focus {
    outline: none;
    transform: scale(1.05)
}

.dialog .buttons button:active {
    transform: scale(1.1)
}




