
* {
    margin: 0; padding: 0; border: 0; line-height: 1;
    user-select: none; -webkit-user-select: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    background: black;
    background: #ffffff;
}

a, .status, .pan-handle, .info    {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    right: 0;
    padding: 0.6em 0.8em;
    z-index: 1;
    text-decoration: none;
}

a, .pan-handle {
    color: #ffffff;
    font-weight: 400;
}

.status {
    right: auto;
    left: 0;
    padding-left: 2em;
    padding-right: 2em;
    color: rgba(255, 255, 255, 0.75);
}

.status span {
    margin-right: .5em;
    color: #ffffff;
    font-weight: 400;
}

.pan-handle {
    top: auto;
    bottom: 0;
    font-size: 1.8em;
    cursor: move;
}

body, html, canvas {
    width: 100%;
    height: 100%;
}

canvas, div, a {
    position: absolute;
}

.picker {
    bottom: 0;
}

.picker span {
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
}

.picker span.active {
    outline: 0.2em solid white;
    border-left: 0.2em solid black;
    z-index: 2;
}

.info {
    display: none;
    text-align: center;
}

.info.pan {
    top: auto;
    bottom: 0;
    left: 50%;
    width: 10em;
    margin-left: -5em;
}

.info.loading {
    right: 50%;
    top: 50%;
    width: 10em;
    margin-right: -5em;
    margin-top: -1em;
    font-size: 1.5em;
}

html.loading .info.loading {
    display: block;
}

html.has-canvas .info.loading {
    background-color: rgba(255, 255, 255, 0.75);
    color: transparent;
    overflow: hidden;
    margin-top: 0;
    margin-right: 0;
    width: .6em;
    height: .6em;
    padding: 0;
    border-radius: 100%;
    top: .45em;
    left: .4em;
    z-index: 2

}

html.pan .info.pan {
    display: block;
}

html.pan canvas, html.pan-move canvas {
    cursor: move;
    opacity: 0.75;
}